/* Eric Meyer's CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
h1 {
    font-size: 3em;
}
.header {
    line-height: 3em;
    width: 100%;
    height: 7em;
    text-align: center;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
}
.wrapper {
    width: 100%;
    min-width: 1000px;
}
.accent {
    background-color: red;
}
.letter {
    display: block;
    float: left;
    padding: 1em;
    cursor: pointer;
}
.word {
	float: left;
    padding: 1em;
    cursor: pointer;
}
.word:hover {
    background-color: grey;
}
#word-processing {
    font-size: 3em;
    display: inline-block;
    width: 100%;
}
#words-container {
    display: inline-block;
}
h2 {
    font-size: 4em;
}
#wp-h2 {
    display: block;
    width: 100%;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}
.edited {
    background-color: blue!important;
}
.ready {
    background-color: #808080!important;
}
.half {
    display: table-cell;
    box-sizing: border-box;
    width: auto;
    padding: 5px;
    vertical-align: top;
}
#left-half {
    width: 50%;
    border-right: black 2px solid;
}
#right-half {
    border-left: black 2px solid;
}
#columns {
    display: table;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}